*{
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }

body{
    background-color: #e5e5e5;
}    

.container{
    width: 375px;
    background-color: #F4F4F4;
    margin: 0 auto;
    margin-top: 50px;
}

header{
    background-color: #1B83E2;
    height: 66px;
    align-items: center;
    margin-top: none;    
}

h1{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #F4F4F4;
    text-align: center;
    padding: 20px;    
}

main{
    padding: 0 24px 24px;
    display: block;    
}

label{
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    margin-top: 23px;
    display: block;

}

select, input{
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

}

p{ 
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3px;
    color: #777777;
}

button{
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #F4F4F4;
    background-color: #1B83E2;
    width: 100%;
    height: 48px;
    border-radius: 40px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.7;
}

section{
    border: 1px solid #1B83E2;
    margin-top: 36px;
    width: 100%;
    text-align: center;
    padding: 13px;
}

.moneyValue{
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    color: #1B83E2;
    margin-top: 3px;
}

.arrow{
    margin: 13px 0px;

}